/resources/
/results/

/image-processing-utilities/build/

/spatial-filtering/data/
/spatial-filtering/.ipynb_checkpoints/

/transform-domain-filtering/data/
/transform-domain-filtering/.ipynb_checkpoints/

/sparse-learning/data/
/sparse-learning/.ipynb_checkpoints/
